html{
  background: #51bced;
}
h1{
  color: #115c85;
  font-size: xxx-large
}
p1 {
  color: #114385;
  font-size: large;
}
p2 {
  color: black;
  font-size: large;
}
img {
  border-style: dotted;
  border-width: 5px;
  color:red;
}
p {
  border-style: dotted;
  border-width: 2px;
  color:black;
}
